{% extends 'base.html' %}

{% block titulo %}ScrumCO{% endblock %}

{% block style_css %}{% endblock %}

{% block script %}{% endblock %}

{% block notimensajes %}
						
{% endblock %}
                        
{% block notificaciones %}
						
{% endblock %}
                        
{% block notitareas %}
						
{% endblock %}
                       
{% block infousuario %}
						<!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>{{personal.usuario.username|capfirst}} <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <img src="{{STATIC_URL}}img/avatar5.png" class="img-circle" alt="User Image" />
                                    <p>
                                        {{personal.usuario.username|capfirst}} - Web Developer
                                        <small>Miembro desde {{personal.usuario.date_joined|date:"j F, Y"}}</small>
                                    </p>
                                </li>
                                
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href='{% url 'principal.views.editar_miembro' personal.usuario.id %}' class="btn btn-default btn-flat">Perfil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/cerrar" class="btn btn-default btn-flat">Salir</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
{% endblock %}
            
{% block imagenlateral %}<img src="{{STATIC_URL}}img/avatar5.png" class="img-circle" alt="User Image" />{% endblock %}

{% block saludo %}<p>Hola, {{personal.usuario.username|capfirst}}</p>{% endblock %}

{% block sidebarlateral %}
						<li>
                            <a href="/">
                                <i class="fa fa-th"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="/proyectos">
                                <i class="fa fa-dashboard"></i> <span>Proyectos</span>
                            </a>
                        </li>
                        <li>
                            <a href="/miembros">
                                <i class="fa fa-users"></i><span>Miembros</span>
                            </a>
                        </li>
                        
						<li class="header">{{proyecto.nombreProyecto|upper}}</li>
						
                        <li class="active">
                            <a href="{% url 'principal.views.lista_historias' proyecto.id %}">
                                <i class="fa fa-file-text-o"></i> <span>Product backlog</span>
                            </a>
                        </li>
                        <li>
                            <a href='{% url 'principal.views.lista_sprints' proyecto.id %}'>
                                <i class="fa fa-bolt"></i> <span>Sprints</span>
                            </a>
                        </li>
                        <li>
                            <a href='{% url 'principal.views.calendario' proyecto.id %}'>
                                <i class="fa fa-calendar"></i> <span>Calendario</span>
                            </a>
                        </li>
                        {% if personal.usuario.is_superuser or equipo.scrummaster or equipo.teammember %}
                        <li>
                            <a href='{% url 'principal.views.sprints_poker' proyecto.id %}'>
                                <i class="fa fa-gamepad"></i> <span>Planning poker</span>
                            </a>
                        </li>
                        {% endif %}
                 
{% endblock %}

{% block headersuperior %}
				<section class="content-header">
                    <h1>
                        Tareas
                    </h1>
                    <ol class="breadcrumb">
                    	{% if personal.usuario.is_superuser or equipo.scrummaster or equipo.teammember %}
                        	<li><a href="{% url 'principal.views.nueva_tarea' proyecto.id historia.id%}"><i class="fa fa-plus"></i> Nueva tarea</a></li>
                        {% endif %} 
                    </ol>
                </section>
{% endblock %}

{% block contenido %}
				
				{% if tareas %}
					
					    <div class="panel panel-default">
						  <!-- Default panel contents -->
						  <div class="panel-heading">
						  	{{historia.titulo|capfirst}}
						  </div>
						  <div class="box-body table-responsive no-padding">
                          	<table class="table table-hover">
                              <tr>
                              	<th>ID</th>
                                <th>Resumen</th>
                                <th>Descripción</th>
                                <th>Estado</th>
                                <th>Esfuerzo</th>
                                <th>Realizador</th>
                                <th> </th>
                              </tr>
                    {% for dato in tareas %}
                              <tr>
                                <td>{{dato.id}}</td>
                                <td>{{dato.resumen|capfirst}}</td>
                                <td>{{dato.descripcion|capfirst}}</td>
                                {% if dato.estado = 0 %}
                                	<td><span class="label label-warning">Pendiente</span></td>
                                {% elif dato.estado = 1 %}
                                	<td><span class="label label-primary">Trabajando</span></td>  
                                {% else %}
                                	<td><span class="label label-success">Hecho</span></td> 
                                {% endif %} 
                                <td>{{dato.esfuerzo|capfirst}} Horas</td>
                                {% if dato.realizador%}
                        			<td><small class="label label-default">{{dato.realizador.miembro.usuario.first_name}} {{dato.realizador.miembro.usuario.last_name}}</small></td>
                        		{% else %}
									<td><small class="label label-danger">Sin asignar</small></td>
								{% endif %} 
								   
								<td>          
									{% if personal.usuario.is_superuser or equipo.scrummaster or equipo.teammember %}
										<a href='{% url 'principal.views.editar_tarea' dato.id %}'><i class="fa fa-edit"></i></a>
                                		<a href='{% url 'principal.views.eliminar_tarea' dato.id %}'><i class="fa fa-trash-o"></i></a>
                                	{% endif %}
                                </td>                 
                                
                              </tr>	   					  
					{% endfor %}
                            </table>
                          </div><!-- /.box-body -->
						</div>						
					
				{% else %}
						<div class="alert alert-warning" role="alert">Aún no hay ninguna tarea para esta historia.</div>							  

				{% endif %}


{% endblock %}                        
