{% extends 'base.html' %}

{% block titulo %}ScrumCO{% endblock %}

{% block style_css %}{% endblock %}

{% block script %}{% endblock %}

{% block notimensajes %}
						
{% endblock %}
                        
{% block notificaciones %}
						
{% endblock %}
                        
{% block notitareas %}
						
{% endblock %}
                       
{% block infousuario %}
						<!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>{{personal.usuario.username|capfirst}} <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <img src="{{STATIC_URL}}img/avatar5.png" class="img-circle" alt="User Image" />
                                    <p>
                                        {{personal.usuario.username|capfirst}} - Web Developer
                                        <small>Miembro desde {{personal.usuario.date_joined|date:"j F, Y"}}</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href='{% url 'principal.views.editar_miembro' personal.usuario.id %}' class="btn btn-default btn-flat">Perfil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/cerrar" class="btn btn-default btn-flat">Salir</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
{% endblock %}
            
{% block imagenlateral %}<img src="{{STATIC_URL}}img/avatar5.png" class="img-circle" alt="User Image" />{% endblock %}

{% block saludo %}<p>Hola, {{personal.usuario.username|capfirst}}</p>{% endblock %}

{% block sidebarlateral %}
						<li>
                            <a href="/">
                                <i class="fa fa-th"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="/proyectos">
                                <i class="fa fa-dashboard"></i> <span>Proyectos</span> 
                            </a>
                        </li>
                        <li class="active">
                            <a href="/miembros">
                                <i class="fa fa-users"></i><span>Miembros</span>
                            </a>
                        </li>
{% endblock %}

{% block headersuperior %}
				<section class="content-header">
                    <h1>
                        Editar perfil
                    </h1>
                    <ol class="breadcrumb">
                        
                    </ol>
                </section>
{% endblock %}

{% block contenido %}
				<section class="content">
					<!-- form start -->
                    <form action="" method="post">{% csrf_token %}
	                    <div class="row">
	                        <!-- left column -->
	                        <div class="col-md-6">
	                            <!-- general form elements -->
	                            <div class="box box-primary">
	                                <div class="box-header">
	                                    <h3 class="box-title">Información de acceso</h3>
	                                </div><!-- /.box-header -->	   
	                                    <div class="box-body">  
	                                    	{% if validacion == 1 %}
							                	<div class="alert alert-danger alert-dismissable">
							                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							                        <b>Alerta!</b> Nombre de usuario no puede estar vacío.
							                    </div>
							                {% endif %} 
							                {% if validacion == 2 %}
							                	<div class="alert alert-danger alert-dismissable">
							                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							                        <b>Alerta!</b> Contraseñas diferentes.
							                    </div>
							                {% endif %} 
							                {% if validacion == 3 %}
							                	<div class="alert alert-danger alert-dismissable">
							                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							                        <b>Alerta!</b> Formulario no es válido.
							                    </div>
							                {% endif %}                       	
	                                    	<div class="form-group">
	                                    		<label>Usuario *</label>
						                        <input type="text" name="username" id="username" class="form-control" placeholder="usuario" value="{{miembro.usuario.username}}"/>
						                    </div>
						                    <div class="form-group">
						                    	<label>Contraseña *</label>
						                        <input type="password" name="password1" id="password1" class="form-control" placeholder="Contraseña"/>
						                    </div>
						                    <div class="form-group">
						                    	<label>Repite contraseña *</label>
						                        <input type="password" name="password2" id="password2" class="form-control" placeholder="Repite contraseña"/>
						                    </div>
	                                    </div><!-- /.box-body -->	
	                                    <div class="box-footer">
	                                        <button type="submit" class="btn btn-primary">Actualizar</button>
	                                    </div>	           
	                            </div><!-- /.box -->
	                        </div><!--/.col (left) -->
	                        <!-- right column -->
	                        <div class="col-md-6">
	                            <!-- general form elements disabled -->
	                            <div class="box box-warning">
	                                <div class="box-header">
	                                    <h3 class="box-title">Información personal</h3>
	                                </div><!-- /.box-header -->                               	                                    
	                                    <div class="box-body">
	                                    	<div class="form-group">
	                                    		<label>Nombre</label>
						                        <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Nombre" value="{{miembro.usuario.first_name}}"/>
						                    </div>
						                    <div class="form-group">
						                    	<label>Apellidos</label>
						                        <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Apellidos" value="{{miembro.usuario.last_name}}"/>
						                    </div>
						                    <div class="form-group">
						                    	<label>Email</label>
						                        <input type="email" name="email" id="email" class="form-control" placeholder="Email" value="{{miembro.usuario.email}}"/>
						                    </div>
						                    <div class="form-group">
	                                    		<label>Teléfono</label>
						                        <input type="number" name="telefono" id="telefono" class="form-control" placeholder="Teléfono" value="{{miembro.telefono}}"/>
						                    </div>
		                                </div><!-- /.box-body -->	                                                                
	                            </div><!-- /.box -->
	                        </div><!--/.col (right) -->
	                    </div>   <!-- /.row -->
					</form>	                   
                </section><!-- /.content -->
{% endblock %}                        
