{% extends 'base.html' %}

{% block titulo %}ScrumCO{% endblock %}

{% block style_css %}{% endblock %}

{% block script %}{% endblock %}

{% block notimensajes %}
						
{% endblock %}
                        
{% block notificaciones %}
						
{% endblock %}
                        
{% block notitareas %}
						
{% endblock %}
                       
{% block infousuario %}
						<!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>{{personal.usuario.username|capfirst}} <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <img src="{{STATIC_URL}}img/avatar5.png" class="img-circle" alt="User Image" />
                                    <p>
                                        {{personal.usuario.username|capfirst}} - Web Developer
                                        <small>Miembro desde {{personal.usuario.date_joined|date:"j F, Y"}}</small>
                                    </p>
                                </li>
                                
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href='{% url 'principal.views.editar_miembro' personal.usuario.id %}' class="btn btn-default btn-flat">Perfil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/cerrar" class="btn btn-default btn-flat">Salir</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
{% endblock %}
            
{% block imagenlateral %}<img src="{{STATIC_URL}}img/avatar5.png" class="img-circle" alt="User Image" />{% endblock %}

{% block saludo %}<p>Hola, {{personal.usuario.username|capfirst}}</p>{% endblock %}

{% block sidebarlateral %}
						<li>
                            <a href="/">
                                <i class="fa fa-th"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="/proyectos">
                                <i class="fa fa-dashboard"></i> <span>Proyectos</span>
                            </a>
                        </li>
                        <li>
                            <a href="/miembros">
                                <i class="fa fa-users"></i><span>Miembros</span>
                            </a>
                        </li>
                        
						<li class="header">{{proyecto.nombreProyecto|upper}}</li>
					
                        <li class="active">
                            <a href="{% url 'principal.views.lista_historias' proyecto.id %}">
                                <i class="fa fa-file-text-o"></i> <span>Product backlog</span>
                            </a>
                        </li>
                        <li>
                            <a href='{% url 'principal.views.lista_sprints' proyecto.id %}'>
                                <i class="fa fa-bolt"></i> <span>Sprints</span>
                            </a>
                        </li>
                        <li>
                            <a href='{% url 'principal.views.calendario' proyecto.id %}'>
                                <i class="fa fa-calendar"></i> <span>Calendario</span>
                            </a>
                        </li>
                        <li>
                            <a href='{% url 'principal.views.sprints_poker' proyecto.id %}'>
                                <i class="fa fa-gamepad"></i> <span>Planning poker</span>
                            </a>
                        </li>
                 
{% endblock %}

{% block headersuperior %}
				<section class="content-header">
                    <h1>
                        Historias
                    </h1>
                    <ol class="breadcrumb">
                    	{% if personal.usuario.is_superuser or equipo.scrummaster or equipo.teammember %}
                        	<li><a href="{% url 'principal.views.nueva_historia' proyecto.id %}"><i class="fa fa-plus"></i> Nueva historia</a></li>
                        {% endif %} 
                    </ol>
                </section>
{% endblock %}

{% block contenido %}

				{% if personal.usuario.is_superuser or equipo.scrummaster or equipo.teammember %}
					{% for dato in historias %}
						<div class="panel panel-success">
						  <div class="panel-heading">
						  	<div class="navbar-right">
						  	 		
                                <a href='{% url 'principal.views.editar_historia' dato.id %}'><i class="fa fa-edit"></i></a>
                                <a href='{% url 'principal.views.eliminar_historia' dato.id %}'><i class="fa fa-trash-o"></i></a>
                                            				  	 	
						  	</div>
						    <h3 class="panel-title"><a href='{% url 'principal.views.detalle_historia' dato.id %}'>{{dato.titulo|capfirst}}</a></h3>						    
						  </div>
						  <div class="panel-body">
						  	<div class="row">
		                        <div class="col-md-4">
		                            <div class="box box-solid">
		                                <div class="box-body">
		                                    <dl>
		                                        <dt>Descripcion:</dt>
		                                        <dd>{{dato.descripcion|capfirst}}</dd>
		                                    </dl>
		                                </div><!-- /.box-body -->
		                            </div><!-- /.box -->
		                        </div><!-- ./col -->
		                        <div class="col-md-4">
		                            <div class="box box-solid">
		                                <div class="box-body">
		                                    <dl>
		                                        <dt>Criterio de aceptación:</dt>
		                                        <dd>{{dato.aceptacion|capfirst}}</dd>
		                                    </dl>
		                                </div><!-- /.box-body -->
		                            </div><!-- /.box -->
		                        </div><!-- ./col -->
		                        <div class="col-md-4">
		                            <div class="box box-solid">
		                                <div class="box-body">
		                                	<dl class="dl-horizontal">
		                                        <dt>Prioridad: </dt>
		                                        <dd>{{dato.prioridad}}</dd>
		                                        <dt>Story Point: </dt>
		                                        <dd>{{dato.sp}}</dd>
		                                        <dt>Creado por:  </dt>
		                                        <dd>{{dato.creador.first_name}} {{dato.creador.last_name}}</dd>
		                                    </dl>
		                                </div><!-- /.box-body -->
		                            </div><!-- /.box -->
		                        </div><!-- ./col -->
		                     </div>
						  </div>
						</div>
					{% empty %}
						<div class="alert alert-warning" role="alert">Aún no hay ninguna historia para este proyecto.</div>
					{% endfor %}
				{% else %}
					{% for dato in historias %}
						<div class="panel panel-success">
						  <div class="panel-heading">
						    <h3 class="panel-title"><a href='{% url 'principal.views.detalle_historia' dato.id %}'>{{dato.titulo|capfirst}}</a></h3>						    
						  </div>
						  <div class="panel-body">
						    <div class="row">
		                        <div class="col-md-4">
		                            <div class="box box-solid">
		                                <div class="box-body">
		                                    <dl>
		                                        <dt>Descripcion:</dt>
		                                        <dd>{{dato.descripcion|capfirst}}</dd>
		                                    </dl>
		                                </div><!-- /.box-body -->
		                            </div><!-- /.box -->
		                        </div><!-- ./col -->
		                        <div class="col-md-4">
		                            <div class="box box-solid">
		                                <div class="box-body">
		                                    <dl>
		                                        <dt>Criterio de aceptación:</dt>
		                                        <dd>{{dato.aceptacion|capfirst}}</dd>
		                                    </dl>
		                                </div><!-- /.box-body -->
		                            </div><!-- /.box -->
		                        </div><!-- ./col -->
		                        <div class="col-md-4">
		                            <div class="box box-solid">
		                                <div class="box-body">
		                                	<dl class="dl-horizontal">
		                                        <dt>Prioridad: </dt>
		                                        <dd>{{dato.prioridad}}</dd>
		                                        <dt>Story Point: </dt>
		                                        <dd>{{dato.sp}}</dd>
		                                        <dt>Creado por:  </dt>
		                                        <dd>{{dato.creador.first_name}} {{dato.creador.last_name}}</dd>
		                                    </dl>
		                                </div><!-- /.box-body -->
		                            </div><!-- /.box -->
		                        </div><!-- ./col -->
		                     </div>
						  </div>
						</div>
					{% empty %}
						<div class="alert alert-warning" role="alert">Aún no hay ninguna historia para este proyecto.</div>
					{% endfor %}
				{% endif %}


{% endblock %}                        
