{% extends 'base.html' %}

{% block titulo %}ScrumCO{% endblock %}

{% block style_css %}{% endblock %}

{% block script %}{% endblock %}

{% block notimensajes %}
						
{% endblock %}
                        
{% block notificaciones %}
						
{% endblock %}
                        
{% block notitareas %}
						
{% endblock %}
                       
{% block infousuario %}
						<!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>{{personal.usuario.username|capfirst}} <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <img src="{{STATIC_URL}}img/avatar5.png" class="img-circle" alt="User Image" />
                                    <p>
                                        {{personal.usuario.username|capfirst}} - Web Developer
                                        <small>Miembro desde {{personal.usuario.date_joined|date:"j F, Y"}}</small>
                                    </p>
                                </li>
                                
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                    	<a href='{% url 'principal.views.editar_miembro' personal.usuario.id %}' class="btn btn-default btn-flat">Perfil</a>
	                                    
                                    </div>
                                    <div class="pull-right">
                                        <a href="/cerrar" class="btn btn-default btn-flat">Salir</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
{% endblock %}
            
{% block imagenlateral %}<img src="{{STATIC_URL}}img/avatar5.png" class="img-circle" alt="User Image" />{% endblock %}

{% block saludo %}<p>Hola, {{personal.usuario.username|capfirst}}</p>{% endblock %}

{% block sidebarlateral %}
						<li>
                            <a href="/">
                                <i class="fa fa-th"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="/proyectos">
                                <i class="fa fa-dashboard"></i> <span>Proyectos</span> 
                            </a>
                        </li>
                        <li class="active">
                            <a href="/miembros">
                                <i class="fa fa-users"></i><span>Miembros</span>
                            </a>
                        </li>
{% endblock %}

{% block headersuperior %}
				<section class="content-header">
                    <h1>
                        Miembros
                    </h1>
                    <ol class="breadcrumb">
                    	{% if personal.usuario.is_superuser %}
                        	<li><a href="/miembro/nuevo/"><i class="fa fa-plus"></i> Nuevo miembro</a></li>
                        {% endif %} 
                    </ol>
                </section>
{% endblock %}

{% block contenido %}

				<!-- Small boxes (Stat box) -->
                    <div class="row">
                    	{% if personal.usuario.is_superuser %}                        
                        <div class="col-lg-3 col-xs-6">  	
                            <!-- small box -->                          
                            <div class="small-box bg-yellow">
                            	
                                <div class="inner">
                                   
                                    <h3>
                                    	{% if not personal.usuario.first_name %}
											{{personal.usuario.username|capfirst}}
										{% else %}
											{{personal.usuario.first_name|capfirst}} {{personal.usuario.last_name|capfirst}}
										{% endif %}
                                        
                                    </h3>           
                                    <p>
										Administrador
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                </div>
                                <a href='{% url 'principal.views.editar_miembro' personal.usuario.id %}' class="small-box-footer">
                                    Editar <i class="fa fa-edit"></i>
                                </a>
                                <a href='{% url 'principal.views.eliminar_miembro' personal.usuario.id %}' class="small-box-footer">
                                    Eliminar <i class="fa fa-trash-o"></i>
                                </a>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->          
	                        <div class="small-box bg-yellow">
	                            <div class="inner">
	                                   
	                               	<h3>
	                                    {% if not personal.jefe.usuario.first_name %}
											{{personal.jefe.usuario.username|capfirst}}
										{% else %}
											{{personal.jefe.usuario.first_name|capfirst}} {{personal.jefe.usuario.last_name|capfirst}}
										{% endif %}
	                                        
	                                </h3>
	                                <p>
										Administrador
	                                </p>
	                            </div>
	                            <div class="icon">
	                                <i class="ion ion-person-add"></i>
	                            </div>
	                            
	                        </div>
	                    </div>
                        {% endif %} 
                        
	                        {% for dato in miembros %}
	                        	<div class="col-lg-3 col-xs-6">
	                            	<!-- small box -->
									<div class="small-box bg-yellow">
			                             <div class="inner">
			                                   
			                                <h3>
												{{dato.usuario.first_name|capfirst}} {{dato.usuario.last_name|capfirst}}			
			                                </h3>
			                                <p>
												{{dato.usuario.email|capfirst}}
			                                </p>
			                             </div>
			                             <div class="icon">
			                                 <i class="ion ion-person-add"></i>
			                             </div>
			                             {% if personal.usuario.is_superuser %}
			                             	<a href='{% url 'principal.views.editar_miembro' dato.usuario.id %}' class="small-box-footer">
			                                    Editar <i class="fa fa-edit"></i>
			                                </a>
			                             	<a href='{% url 'principal.views.eliminar_miembro' dato.usuario.id %}' class="small-box-footer">
			                                    Eliminar <i class="fa fa-trash-o"></i>
			                                </a>
			                             {% else %}
			                             	{% if dato.usuario.id == personal.usuario.id %}
												<a href='{% url 'principal.views.editar_miembro' dato.usuario.id %}' class="small-box-footer">
				                                    Editar <i class="fa fa-edit"></i>
				                                </a>
										 	{% endif %}
										 {% endif %}
			                             	                             
			                        </div>
			                   </div><!-- ./col --> 
							{% empty %}
									
							{% endfor %}                
                    </div><!-- /.row -->

{% endblock %}                        
