{% extends 'base.html' %}

{% block titulo %}ScrumCO{% endblock %}

{% block style_css %}

<style>

/* Floats */

.left {float: left;}
.right {float: right;}

.clear,.clearer {clear: both;}
.clearer {
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
}


/*
	Example specifics
------------------------------------------------------------------- */


/* Sortable items */
{% for historia in historias %}
	.sortable-list{{historia.id}} {
		list-style: none;
		margin: 0;
		min-height: 60px;
		padding: 10px;
	}
{% endfor %}


.sortable-item {
	background-color: #f0ad4e;
	border: 1px solid #000;
	cursor: move;
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px 0;
	text-align: center;
}



/* Item placeholder (visual helper) */

.placeholder {
	background-color: #BFB;
	border: 1px dashed #666;
	height: 58px;
	margin-bottom: 5px;
}

</style>

{% endblock %}

{% block script %}


<script type="text/javascript">

$(document).ready(function(){
	
	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie != '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}
	
	function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

	// Example 1.3: Sortable and connectable lists with visual helper
	{% for historia in historias %}
		$('#muro .sortable-list{{historia.id}}').sortable({
			connectWith: '#muro .sortable-list{{historia.id}}',
			placeholder: 'placeholder',
			axis: 'x',
			start: function(event, ui) {
	            item = ui.item;
	            newList = oldList = ui.item.parent().parent();
	        },
	        stop: function(event, ui) {    	        	      
	            //alert("Moved " + item.text() + " from " + oldList.attr('id') + " to " + newList.attr('id')+ " ID: " + ui.item.attr('tarea-id'));
	            var data = $(this).sortable('serialize');
	            var csrftoken = getCookie('csrftoken');
		        var id = ui.item.attr('tarea-id');		
		        var miTarea	= {"id":id,"resumen":ui.item.attr('tarea-resumen'),"descripcion":ui.item.attr('tarea-descripcion'),"esfuerzo":ui.item.attr('tarea-esfuerzo'),"estado":newList.attr('id'),"realizador":ui.item.attr('tarea-realizador'),"historia":ui.item.attr('tarea-historia'),"proyecto":ui.item.attr('tarea-proyecto'),"creador":ui.item.attr('tarea-creador')};	
		        // POST to server using $.post or $.ajax
		        $.ajax({
		            type: 'PUT',
		            url: '/api/tareas/'+id,
		            contentType: 'application/json; charset=utf-8',
				    data: JSON.stringify(miTarea),
				    dataType: 'JSON',
				    beforeSend: function(xhr, settings) {
				        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
				            xhr.setRequestHeader("X-CSRFToken", csrftoken);
				        }
				    },
		            success: function(data){
		                 setTimeout(function(){ $("#msg").fadeIn(800).fadeOut(4000);}, 500);
		            }
		        });
	        },
	        change: function(event, ui) {  
	            if(ui.sender) newList = ui.placeholder.parent().parent();
	        },
		});
	{% endfor %}

});

</script>

{% endblock %}

{% block notimensajes %}
						<!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li><!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="{{STATIC_URL}}img/avatar3.png" class="img-circle" alt="User Image"/>
                                                </div>
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li><!-- end message -->
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="{{STATIC_URL}}img/avatar2.png" class="img-circle" alt="user image"/>
                                                </div>
                                                <h4>
                                                    AdminLTE Design Team
                                                    <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="{{STATIC_URL}}img/avatar.png" class="img-circle" alt="user image"/>
                                                </div>
                                                <h4>
                                                    Developers
                                                    <small><i class="fa fa-clock-o"></i> Today</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="{{STATIC_URL}}img/avatar2.png" class="img-circle" alt="user image"/>
                                                </div>
                                                <h4>
                                                    Sales Department
                                                    <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="{{STATIC_URL}}img/avatar.png" class="img-circle" alt="user image"/>
                                                </div>
                                                <h4>
                                                    Reviewers
                                                    <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>
{% endblock %}
                        
{% block notificaciones %}

						<!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-warning"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-people info"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning danger"></i> Very long description here that may not fit into the page and may cause design problems
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users warning"></i> 5 new members joined
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-cart success"></i> 25 sales made
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-person danger"></i> You changed your username
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
{% endblock %}
                        
{% block notitareas %}
						<!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-tasks"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Create a nice theme
                                                    <small class="pull-right">40%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">40% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Some task I need to do
                                                    <small class="pull-right">60%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">60% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Make beautiful transitions
                                                    <small class="pull-right">80%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">80% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        
{% endblock %}
                       
{% block infousuario %}
						<!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>{{personal.usuario.username|capfirst}} <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <img src="{{STATIC_URL}}img/avatar3.png" class="img-circle" alt="User Image" />
                                    <p>
                                        {{personal.usuario.username|capfirst}} - Web Developer
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Sales</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                    </div>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Perfil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/cerrar" class="btn btn-default btn-flat">Salir</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        
                        
{% endblock %}
            
{% block imagenlateral %}<img src="{{STATIC_URL}}img/avatar3.png" class="img-circle" alt="User Image" />{% endblock %}

{% block saludo %}<p>Hola, {{personal.usuario.username|capfirst}}</p>{% endblock %}

{% block sidebarlateral %}
						<li>
                            <a href="/">
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href='{% url 'principal.views.lista_sprintbacklog' sprint.id %}'>
                                <i class="fa fa-th"></i> <span>Sprint Backlog</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href='{% url 'principal.views.ver_muro' sprint.id %}'>
                                <i class="fa fa-th"></i> <span>Muro</span>
                            </a>
                        </li>
                        <li>
                            <a href="/proyectos">
                                <i class="fa fa-th"></i> <span>Reuniones</span>
                            </a>
                        </li>
                        <li>
                            <a href="/proyectos">
                                <i class="fa fa-th"></i> <span>Gráficas</span>
                            </a>
                        </li>

       
                 
{% endblock %}

{% block headersuperior %}
				<section class="content-header"> 
					<div id="msg" class="alert alert-success alert-dismissable" style="display:none;">
						    <i class="fa fa-check"></i>
						    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						    <b>Alert!</b> Estado de la tarea cambiado correctamente.
						</div>
                    <h1>
                        {{sprint.nombre|capfirst}}
                    </h1>
                    
                </section>
{% endblock %}

{% block contenido %}


<div class="panel panel-default">
	
	  	<table id="muro" class="table table-bordered" style="table-layout: fixed">
	      <tr>
	      	<th>Historias</th>
	        <th>Pendiente</th>
	        <th>Trabajando</th>
	        <th>Hecho</th>
	      </tr>
	    {% for historia in historias %}
          <tr>
            <td>{{historia.titulo|capfirst}}</td>
            <td id="0">
            		<ul class="sortable-list{{historia.id}}">
            {% if tareas %}	
            	{% for dato in tareas %}
	            	{% if dato.estado = 0 %}			        
			            	{% if historia.id = dato.historia_id %}
				            	<div class="tarea" tarea-id="{{dato.id}}" tarea-resumen="{{dato.resumen}}" tarea-descripcion="{{dato.descripcion}}" tarea-esfuerzo="{{dato.esfuerzo}}" tarea-estado="{{dato.estado}}" tarea-realizador="{{dato.realizador}}" tarea-historia="{{dato.historia}}" tarea-proyecto="{{dato.proyecto}}" tarea-creador="{{dato.creador}}">
									<li class="sortable-item">
										<p>id: {{dato.id}}</p>
										<p>{{dato.resumen|capfirst}}</p>
									</li>
								</div>
							{% endif %}
					{% endif %}
				{% endfor %}
			{% else %}
					<div class="alert alert-warning" role="alert">Aún no hay ninguna tarea para esta historia.</div>							  
			{% endif %}
					</ul>
            </td>
            
            
            
            <td id="1"> 
            		<ul class="sortable-list{{historia.id}}">
            {% if tareas %}	
            	{% for dato in tareas %}
	            	{% if dato.estado = 1 %}			        
			            	{% if historia.id = dato.historia_id %}
				            	<div class="tarea" tarea-id="{{dato.id}}" tarea-estado="1">
									<li class="sortable-item">
										<p>id: {{dato.id}}</p>
										<p>{{dato.resumen|capfirst}}</p>
									</li>
								</div>
							{% endif %}
					{% endif %}
				{% endfor %}
			{% else %}
					<div class="alert alert-warning" role="alert">Aún no hay ninguna tarea para esta historia.</div>							  
			{% endif %}
					</ul>
            </td>
            
            
            
            <td id="2">
            		<ul class="sortable-list{{historia.id}}">
            {% if tareas %}	
            	{% for dato in tareas %}
	            	{% if dato.estado = 2 %}			        
			            	{% if historia.id = dato.historia_id %}
				            	<div class="tarea" tarea-id="{{dato.id}}" tarea-estado="2">
									<li class="sortable-item">
										<p>id: {{dato.id}}</p>
										<p>{{dato.resumen|capfirst}}</p>
									</li>
								</div>
							{% endif %}
					{% endif %}
				{% endfor %}
			{% else %}
					<div class="alert alert-warning" role="alert">Aún no hay ninguna tarea para esta historia.</div>							  
			{% endif %}
					</ul>
            </td>
         {% endfor %}					  
	     
	    </table>
	   
	 
</div>



{% endblock %}                        
