{% extends 'base.html' %}

{% block titulo %}ScrumCO{% endblock %}

{% block style_css %}{% endblock %}

{% block script %}{% endblock %}

{% block notimensajes %}
						
{% endblock %}
                        
{% block notificaciones %}
						
{% endblock %}
                        
{% block notitareas %}
						<!-- Tasks: style can be found in dropdown.less -->
                        <li class="tasks-menu">
                            <a href="#">
								<i class="fa fa-save"></i>
                            </a>
                            
                        </li>
{% endblock %}
                       
{% block infousuario %}
						<!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>{{personal.usuario.username|capfirst}} <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <img src="{{STATIC_URL}}img/avatar5.png" class="img-circle" alt="User Image" />
                                    <p>
                                        {{personal.usuario.username|capfirst}} - Web Developer
                                        <small>Miembro desde {{personal.usuario.date_joined|date:"j F, Y"}}</small>
                                    </p>
                                </li>
                                
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href='{% url 'principal.views.editar_miembro' personal.usuario.id %}' class="btn btn-default btn-flat">Perfil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/cerrar" class="btn btn-default btn-flat">Salir</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
{% endblock %}
            
{% block imagenlateral %}<img src="{{STATIC_URL}}img/avatar5.png" class="img-circle" alt="User Image" />{% endblock %}

{% block saludo %}<p>Hola, {{personal.usuario.username|capfirst}}</p>{% endblock %}

{% block sidebarlateral %}
						<li>
                            <a href="/">
                                <i class="fa fa-th"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="/proyectos">
                                <i class="fa fa-dashboard"></i> <span>Proyectos</span>
                            </a>
                        </li>
                        <li>
                            <a href="/miembros">
                                <i class="fa fa-users"></i><span>Miembros</span>
                            </a>
                        </li>
{% endblock %}

{% block headersuperior %}
				<section class="content-header">
                    <h1>
                        Proyectos
                    </h1>
                    <ol class="breadcrumb">
                    	{% if personal.usuario.is_superuser %}
                        	<li><a href="/proyecto/nuevo/"><i class="fa fa-plus"></i> Nuevo proyecto</a></li>
                        {% endif %}
                    </ol>
                </section>
{% endblock %}

{% block contenido %}
				{% if personal.usuario.is_superuser %}
					{% for dato in proyectos %}
						<div class="panel panel-success">
								
						  <div class="panel-heading">
						  	<div class="navbar-right">
						  	 		
                                <a href='{% url 'principal.views.editar_proyecto' dato.id %}'><i class="fa fa-edit"></i></a>
                                <a href='{% url 'principal.views.eliminar_proyecto' dato.id %}'><i class="fa fa-trash-o"></i></a>
                                
                                            				  	 	
						  	</div>
						    <h3 class="panel-title"><a href='{% url 'principal.views.lista_historias' dato.id %}'>{{dato.nombreProyecto|capfirst}} - {{dato.fechaInicio|date:"j F, Y"}}</a></h3>					    
						  </div>
						  <div class="panel-body">

						    <div class="row">
		                        <div class="col-md-4">
		                            <div class="box box-solid">
		                                <div class="box-body">
		                                    <dl>
		                                        <dt>Descripcion:</dt>
		                                        <dd>{{dato.descripcion|capfirst}}</dd>
		                                    </dl>
		                                </div><!-- /.box-body -->
		                            </div><!-- /.box -->
		                        </div><!-- ./col -->
		                        <div class="col-md-5">
		                            <div class="box box-solid">
		                                <div class="box-body">
		                                    <dl>
		                                        <dt>Equipo:</dt>
		                                        {% for equipo in equipos %}
		                                        	{% if equipo.proyecto_id == dato.id %}
		                                        		{% if equipo.scrummaster %}
		                                        		
		                                        			<dd>{{equipo.miembro.usuario.first_name|capfirst}} {{equipo.miembro.usuario.last_name|capfirst}} <a href='{% url 'principal.views.asignar_rol' dato.id equipo.id 1 %}'><small class="label label-success">Scrum Master</small></a> <a href='{% url 'principal.views.asignar_rol' dato.id equipo.id 2 %}'><small class="label label-default">Team Member</small></a><a href='{% url 'principal.views.asignar_rol' dato.id equipo.id 3 %}'> <small class="label label-default">Product Owner</small></a> </dd>
						                        		{% endif %}
						                        		{% if equipo.teammember %}
						                        			<dd>{{equipo.miembro.usuario.first_name|capfirst}} {{equipo.miembro.usuario.last_name|capfirst}} <a href='{% url 'principal.views.asignar_rol' dato.id equipo.id 1 %}'><small class="label label-default">Scrum Master</small></a> <a href='{% url 'principal.views.asignar_rol' dato.id equipo.id 2 %}'><small class="label label-success">Team Member</small></a> <a href='{% url 'principal.views.asignar_rol' dato.id equipo.id 3 %}'><small class="label label-default">Product Owner</small></a> </dd>
						                        		{% endif %}
						                        		{% if equipo.productowner %}
						                        			<dd>{{equipo.miembro.usuario.first_name|capfirst}} {{equipo.miembro.usuario.last_name|capfirst}} <a href='{% url 'principal.views.asignar_rol' dato.id equipo.id 1 %}'><small class="label label-default">Scrum Master</small></a> <a href='{% url 'principal.views.asignar_rol' dato.id equipo.id 2 %}'><small class="label label-default">Team Member</small></a> <a href='{% url 'principal.views.asignar_rol' dato.id equipo.id 3 %}'><small class="label label-success">Product Owner</small></a> </dd>
						                        		{% endif %}
		                                        	{% endif %}
		                                        {% endfor %}
		                                    </dl>
		                                </div><!-- /.box-body -->
		                            </div><!-- /.box -->
		                        </div><!-- ./col -->
		                        <div class="col-md-3">
		                            <div class="box box-solid">
		                                <div class="box-body">
		                                	<dl class="dl-horizontal">
		                                        <dt>Foco: </dt>
		                                        <dd>{{dato.foco}}</dd>
		                                        <dt>Story Point: </dt>
		                                        <dd>{{dato.spProyecto}}</dd>
		                                        <dt>Historias: </dt>
		                                        <dd>{{dato.historiasP}}</dd>
		                                    </dl>
		                                </div><!-- /.box-body -->
		                            </div><!-- /.box -->
		                        </div><!-- ./col -->
		                     </div>
						  </div>
						</div>
					{% empty %}
						<div class="alert alert-warning" role="alert">Aún no has registrado ningún proyecto.</div>
					{% endfor %}
				{% else %}
					{% for dato in proyectos %}
						<div class="panel panel-success">
						  <div class="panel-heading">
						    <h3 class="panel-title"><a href='{% url 'principal.views.lista_historias' dato.proyecto.id %}'>{{dato.proyecto.nombreProyecto|capfirst}} - {{dato.proyecto.fechaInicio|date:"j F, Y"}}</a></h3>						    
						  </div>
						  <div class="panel-body">
						    <div class="row">
		                        <div class="col-md-4">
		                            <div class="box box-solid">
		                                <div class="box-body">
		                                    <dl>
		                                        <dt>Descripcion:</dt>
		                                        <dd>{{dato.proyecto.descripcion|capfirst}}</dd>
		                                    </dl>
		                                </div><!-- /.box-body -->
		                            </div><!-- /.box -->
		                        </div><!-- ./col -->
		                        <div class="col-md-4">
		                            <div class="box box-solid">
		                                <div class="box-body">
		                                    <dl>
		                                        <dt>Equipo:</dt>
		                                        {% for equipo in equipos %}
		                                        	{% if equipo.proyecto_id == dato.proyecto.id %}
		                                        		{% if equipo.scrummaster %}
		                                        		
		                                        			<dd>{{equipo.miembro.usuario.first_name|capfirst}} {{equipo.miembro.usuario.last_name|capfirst}} <small class="label label-success">Scrum Master</small> </dd>
						                        		{% endif %}
						                        		{% if equipo.teammember %}
						                        			<dd>{{equipo.miembro.usuario.first_name|capfirst}} {{equipo.miembro.usuario.last_name|capfirst}} <small class="label label-success">Team Member</small> </dd>
						                        		{% endif %}
						                        		{% if equipo.productowner %}
						                        			<dd>{{equipo.miembro.usuario.first_name|capfirst}} {{equipo.miembro.usuario.last_name|capfirst}} <small class="label label-success">Product Owner</small> </dd>
						                        		{% endif %}
		                                        	{% endif %}
		                                        {% endfor %}
		                                    </dl>
		                                </div><!-- /.box-body -->
		                            </div><!-- /.box -->
		                        </div><!-- ./col -->
		                        <div class="col-md-4">
		                            <div class="box box-solid">
		                                <div class="box-body">
		                                	<dl class="dl-horizontal">
		                                        <dt>Foco: </dt>
		                                        <dd>{{dato.proyecto.foco}}</dd>
		                                        <dt>Story Point: </dt>
		                                        <dd>{{dato.proyecto.spProyecto}}</dd>
		                                        <dt>Historias: </dt>
		                                        <dd>{{dato.proyecto.historiasP}}</dd>
		                                    </dl>
		                                </div><!-- /.box-body -->
		                            </div><!-- /.box -->
		                        </div><!-- ./col -->
		                     </div>
						  </div>
						</div>
					{% empty %}
						<div class="alert alert-warning" role="alert">No hay ningún proyecto en el que estés colaborando.</div>
					{% endfor %}
				{% endif %}

{% endblock %}                        
