{% extends 'base.html' %}

{% block titulo %}ScrumCO{% endblock %}

{% block style_css %}
<style>
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #BEF2C5;
  outline: 0;
}
.dropdown-menu>li>a:hover{
    background-color: #BEF2C5;
  }
	
</style>
{% endblock %}

{% block script %}
			

{% endblock %}

{% block navegacion %}
				<div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand">{{proyecto.nombreProyecto|capfirst}}</a>
			    </div>
			
			    
				<!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul style="margin-left: 10%;" class="nav navbar-nav">
			        	
                        <li>
                            <a href='{% url 'principal.views.lista_sprintbacklog' sprint.id %}'>
                                <i class="fa fa-th"></i> <span>Sprint Backlog</span>
                            </a>
                        </li>
                        <li>
                            <a href='{% url 'principal.views.ver_muro' sprint.id %}'>
                                <i class="fa fa-th"></i> <span>Muro</span>
                            </a>
                        </li>
                        <li class="dropdown active2">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-laptop"></i> Reuniones<span class="sr-only">(current)</span> <span class="caret"></span></a>
				          <ul class="dropdown-menu" role="menu">
				            <li><a href="{% url 'principal.views.ver_sprintplanning' sprint.id %}"><i class="fa fa-angle-double-right"></i> Sprint Planning</a></li>
                                <li class="active"><a href="{% url 'principal.views.ver_sprintreview' sprint.id %}"><i class="fa fa-angle-double-right"></i> Sprint Review</a></li>
                                <li><a href="{% url 'principal.views.ver_sprintretrospective' sprint.id %}"><i class="fa fa-angle-double-right"></i> Sprint Retrospective</a></li>
                                <li><a href="{% url 'principal.views.ver_dailyscrum' sprint.id %}"><i class="fa fa-angle-double-right"></i> Daily Scrum</a></li>
				          </ul>
				        </li>
                        
                        <li>
                            <a href="{% url 'principal.views.ver_graficas' sprint.id %}">
                                <i class="fa fa-th"></i> <span>Gráficas</span>
                            </a>
                        </li>
			      </ul>


{% endblock %}

{% block notimensajes %}
						<!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li><!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="{{STATIC_URL}}img/avatar3.png" class="img-circle" alt="User Image"/>
                                                </div>
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li><!-- end message -->
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="{{STATIC_URL}}img/avatar2.png" class="img-circle" alt="user image"/>
                                                </div>
                                                <h4>
                                                    AdminLTE Design Team
                                                    <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="{{STATIC_URL}}img/avatar.png" class="img-circle" alt="user image"/>
                                                </div>
                                                <h4>
                                                    Developers
                                                    <small><i class="fa fa-clock-o"></i> Today</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="{{STATIC_URL}}img/avatar2.png" class="img-circle" alt="user image"/>
                                                </div>
                                                <h4>
                                                    Sales Department
                                                    <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="{{STATIC_URL}}img/avatar.png" class="img-circle" alt="user image"/>
                                                </div>
                                                <h4>
                                                    Reviewers
                                                    <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>
{% endblock %}
                        
{% block notificaciones %}
						<!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-warning"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-people info"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning danger"></i> Very long description here that may not fit into the page and may cause design problems
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users warning"></i> 5 new members joined
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-cart success"></i> 25 sales made
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-person danger"></i> You changed your username
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
{% endblock %}
                        
{% block notitareas %}
						<!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-tasks"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Create a nice theme
                                                    <small class="pull-right">40%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">40% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Some task I need to do
                                                    <small class="pull-right">60%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">60% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Make beautiful transitions
                                                    <small class="pull-right">80%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">80% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
{% endblock %}
                       
{% block infousuario %}
						<!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>{{personal.usuario.username|capfirst}} <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <img src="{{STATIC_URL}}img/avatar3.png" class="img-circle" alt="User Image" />
                                    <p>
                                        {{personal.usuario.username|capfirst}} - Web Developer
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href='{% url 'principal.views.editar_miembro' personal.usuario.id %}' class="btn btn-default btn-flat">Perfil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/cerrar" class="btn btn-default btn-flat">Salir</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
{% endblock %}
            
{% block imagenlateral %}<img src="{{STATIC_URL}}img/avatar3.png" class="img-circle" alt="User Image" />{% endblock %}

{% block saludo %}<p>Hola, {{personal.usuario.username|capfirst}}</p>{% endblock %}

{% block sidebarlateral %}
						<li>
                            <a href="/">
                                <i class="fa fa-th"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="/proyectos">
                                <i class="fa fa-dashboard"></i> <span>Proyectos</span>
                            </a>
                        </li>
                        <li>
                            <a href="/miembros">
                                <i class="fa fa-users"></i><span>Miembros</span>
                            </a>
                        </li>
                        
						<li class="header">{{proyecto.nombreProyecto|upper}}</li>
						
						<li>
                            <a href="{% url 'principal.views.lista_historias' proyecto.id %}">
                                <i class="fa fa-th"></i> <span>Product backlog</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href='{% url 'principal.views.lista_sprints' proyecto.id %}'>
                                <i class="fa fa-th"></i> <span>Sprints</span>
                            </a>
                        </li>
                        <li>
                            <a href='{% url 'principal.views.calendario' proyecto.id %}'>
                                <i class="fa fa-th"></i> <span>Calendario</span>
                            </a>
                        </li>
                        <li>
                            <a href='{% url 'principal.views.sprints_poker' proyecto.id %}'>
                                <i class="fa fa-th"></i> <span>Planning poker</span>
                            </a>
                        </li>
                 
{% endblock %}

{% block headersuperior %}
				<section class="content-header">
                    <h1>
                        Sprint Review
                    </h1>
                    
                </section>
{% endblock %}

{% block contenido %}
			<!-- row -->
                    <div class="row">                        
                        <div class="col-md-7">
                        	{% if comentarios %}
                        		<!-- The time line -->
		                        <ul class="timeline">
		                        	{% for fechaD in fechasDiferentes %}	
				                        		<!-- timeline time label -->
				                                <li class="time-label">
				                                	{% if fechaD == hoy %} 
				                                	<span class="bg-red">
				                                	{% else %} 	
				                                    <span class="bg-green">
				                                   	{% endif %} 
				                                        {{fechaD}}
				                                    </span>
				                                </li>
				                                <!-- /.timeline-label -->
				                        {% for comentario in comentarios %}	
				                        	{% if fechaD == comentario.fecha %}                                
				                                <!-- timeline item -->
				                                <li>
				                                    <i class="fa fa-comments bg-yellow"></i>
				                                    <div class="timeline-item">
				                                        <span class="time"><i class="fa fa-clock-o"></i> {{comentario.fechahora|date:"G:i"}}  <a href='{% url 'principal.views.borrar_comentario' comentario.id %}'><i class="fa fa-trash-o"></i></a></span>
				                                        <h3 class="timeline-header"><a href="#">{{comentario.persona.miembro.usuario.first_name}} {{comentario.persona.miembro.usuario.last_name}}</a> Review del sprint</h3>
				                                        <div class="timeline-body">
				                                            {{comentario.mensaje}}
				                                        </div>
				                                    </div>
				                                </li>
				                                <!-- END timeline item -->
				                             {% endif %}
			                            
				                    	{% endfor %}
				                    			
				                   {% endfor %}
		                    			<!-- END timeline item -->
		                                <li>
		                                    <i class="fa fa-clock-o"></i>
		                                </li>
		                    	</ul>
                            {% else %}
									<div class="alert alert-warning" role="alert">Aún no hay ningún comentario.</div>							  
			
							{% endif %}
                        </div><!-- /.col -->
                        <div class="col-md-5">
                        	<!-- general form elements disabled -->
                            <div class="box box-warning">
                                <div class="box-header">
                                    <h3 class="box-title">Información</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                	<p style="text-align : justify;">Reunión informal donde el equipo presenta al cliente los requisitos completados en la iteración, en forma de incremento de producto preparado para ser entregado con el mínimo esfuerzo, haciendo un recorrido por ellos lo más real y cercano posible al objetivo que se pretende cubrir.</p>
                                    <form action="" method="post">{% csrf_token %}
					                    <div class="form-group">
					                    	<label>Mensaje</label>
					                    	<textarea class="form-control" name="mensaje" id="mensaje" rows="3" placeholder="Mensaje"></textarea>
					                    </div>
					                    <div class="box-footer">
	                                        <button type="submit" class="btn btn-primary">Comentar</button>
	                                    </div>
                                    </form>                         
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div><!--/.col (right) -->
                        </div>
                    </div><!-- /.row -->


{% endblock %}                        
