{% extends 'base.html' %}

{% block titulo %}ScrumCO{% endblock %}

{% block style_css %}{% endblock %}

{% block script %}
			

{% endblock %}

{% block navegacion %}
				<div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand">{{proyecto.nombreProyecto|capfirst}}</a>
			    </div>
			
			    
				<!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul style="margin-left: 10%;" class="nav navbar-nav">
			        	
                        <li class="active2">
                            <a href='{% url 'principal.views.lista_sprintbacklog' sprint.id %}'>
                                <i class="fa fa-th"></i> <span>Sprint Backlog</span>
                            </a>
                        </li>
                        <li>
                            <a href='{% url 'principal.views.ver_muro' sprint.id %}'>
                                <i class="fa fa-th"></i> <span>Muro</span>
                            </a>
                        </li>
                        <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-laptop"></i> Reuniones <span class="caret"></span></a>
				          <ul class="dropdown-menu" role="menu">
				            <li><a href="{% url 'principal.views.ver_sprintplanning' sprint.id %}"><i class="fa fa-angle-double-right"></i> Sprint Planning</a></li>
                                <li><a href="{% url 'principal.views.ver_sprintreview' sprint.id %}"><i class="fa fa-angle-double-right"></i> Sprint Review</a></li>
                                <li><a href="{% url 'principal.views.ver_sprintretrospective' sprint.id %}"><i class="fa fa-angle-double-right"></i> Sprint Retrospective</a></li>
                                <li><a href="{% url 'principal.views.ver_dailyscrum' sprint.id %}"><i class="fa fa-angle-double-right"></i> Daily Scrum</a></li>
				          </ul>
				        </li>
                        
                        <li>
                            <a href="{% url 'principal.views.ver_graficas' sprint.id %}">
                                <i class="fa fa-th"></i> <span>Gráficas</span>
                            </a>
                        </li>
			      </ul>


{% endblock %}

{% block notimensajes %}
						<!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li><!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="{{STATIC_URL}}img/avatar3.png" class="img-circle" alt="User Image"/>
                                                </div>
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li><!-- end message -->
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="{{STATIC_URL}}img/avatar2.png" class="img-circle" alt="user image"/>
                                                </div>
                                                <h4>
                                                    AdminLTE Design Team
                                                    <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="{{STATIC_URL}}img/avatar.png" class="img-circle" alt="user image"/>
                                                </div>
                                                <h4>
                                                    Developers
                                                    <small><i class="fa fa-clock-o"></i> Today</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="{{STATIC_URL}}img/avatar2.png" class="img-circle" alt="user image"/>
                                                </div>
                                                <h4>
                                                    Sales Department
                                                    <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="{{STATIC_URL}}img/avatar.png" class="img-circle" alt="user image"/>
                                                </div>
                                                <h4>
                                                    Reviewers
                                                    <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>
{% endblock %}
                        
{% block notificaciones %}
						<!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-warning"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-people info"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning danger"></i> Very long description here that may not fit into the page and may cause design problems
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users warning"></i> 5 new members joined
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-cart success"></i> 25 sales made
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-person danger"></i> You changed your username
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
{% endblock %}
                        
{% block notitareas %}
						<!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-tasks"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Create a nice theme
                                                    <small class="pull-right">40%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">40% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Some task I need to do
                                                    <small class="pull-right">60%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">60% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Make beautiful transitions
                                                    <small class="pull-right">80%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">80% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
{% endblock %}
                       
{% block infousuario %}
						<!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>{{personal.usuario.username|capfirst}} <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <img src="{{STATIC_URL}}img/avatar3.png" class="img-circle" alt="User Image" />
                                    <p>
                                        {{personal.usuario.username|capfirst}} - Web Developer
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href='{% url 'principal.views.editar_miembro' personal.usuario.id %}' class="btn btn-default btn-flat">Perfil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/cerrar" class="btn btn-default btn-flat">Salir</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
{% endblock %}
            
{% block imagenlateral %}<img src="{{STATIC_URL}}img/avatar3.png" class="img-circle" alt="User Image" />{% endblock %}

{% block saludo %}<p>Hola, {{personal.usuario.username|capfirst}}</p>{% endblock %}

{% block sidebarlateral %}
						<li>
                            <a href="/">
                                <i class="fa fa-th"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="/proyectos">
                                <i class="fa fa-dashboard"></i> <span>Proyectos</span>
                            </a>
                        </li>
                        <li>
                            <a href="/miembros">
                                <i class="fa fa-users"></i><span>Miembros</span>
                            </a>
                        </li>
                        
						<li class="header">{{proyecto.nombreProyecto|upper}}</li>
						
						<li>
                            <a href="{% url 'principal.views.lista_historias' proyecto.id %}">
                                <i class="fa fa-th"></i> <span>Product backlog</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href='{% url 'principal.views.lista_sprints' proyecto.id %}'>
                                <i class="fa fa-th"></i> <span>Sprints</span>
                            </a>
                        </li>
                        <li>
                            <a href='{% url 'principal.views.calendario' proyecto.id %}'>
                                <i class="fa fa-th"></i> <span>Calendario</span>
                            </a>
                        </li>
                        <li>
                            <a href='{% url 'principal.views.sprints_poker' proyecto.id %}'>
                                <i class="fa fa-th"></i> <span>Planning poker</span>
                            </a>
                        </li>
                 
{% endblock %}

{% block headersuperior %}
				<section class="content-header">
                    <h1>
                        {{sprint.nombre|capfirst}}
                    </h1>
                    
                </section>
{% endblock %}

{% block contenido %}
			{% for dato in tareas %}
				
				<div class="modal fade bs-example-modal-sm{{dato.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
				  <div class="modal-dialog modal-sm">
				    <div class="modal-content">
				      <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					          <h4 class="modal-title" id="gridSystemModalLabel">Eliminar Tarea</h4>
				        </div>
				        <div class="modal-body">
				        	<form action="{% url 'principal.views.eliminar_tarea_modal' dato.id%}" method="post">{% csrf_token %}
					          <div class="container-fluid">
					            <div class="row">
					              
		                    		<center><label style="font-size: 14px;">¿Seguro que desea eliminar la tarea?</label></center>
			                        
			                      
					            </div>       
					          </div>
					        
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				          <button type="submit" class="btn btn-primary">Si</button>
				        </div>
				    </div>
				  </div>
				</div>

				<div class="modal fade" id="exampleModalEdit{{dato.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				    <div class="modal-dialog">
					  <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					          <h4 class="modal-title" id="gridSystemModalLabel">Editar Tarea</h4>
				        </div>
				        <div class="modal-body">
				        	<form action="{% url 'principal.views.editar_tarea_modal' dato.id%}" method="post">{% csrf_token %}
					          <div class="container-fluid">
					            <div class="row">
					              <div class="form-group">
		                    		<label>Resumen</label>
			                        <input type="text" name="resumen" id="resumen" class="form-control" placeholder="Resumen" value="{{dato.resumen}}"/>
			                      </div>
					            </div>
					            <div class="row">
					              <div class="form-group">
			                    	<label>Descripción</label>
			                    	<textarea class="form-control" name="descripcion" id="descripcion" rows="3" placeholder="Descripción">{{dato.descripcion}}</textarea>
			                      </div>
					            </div>	
					            <div class="row">
						            <div class="form-group">
	                            		<label>Esfuerzo estimado (Horas)</label>
				                        <input type="text" name="esfuerzo" id="esfuerzo" class="form-control" placeholder="Esfuerzo" value="{{dato.esfuerzo}}"/>
				                    </div>	
			                    </div>	        
					          </div>
					        
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				          <button type="submit" class="btn btn-primary">Actualizar Tarea</button>
				        </div>
				        </form>
				      </div><!-- /.modal-content -->
				    </div><!-- /.modal-dialog -->
				  </div><!-- /.modal -->
			{% endfor %}

			{% for historia in historias %}

				<div class="modal fade" id="exampleModal{{historia.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				    <div class="modal-dialog">
					  <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					          <h4 class="modal-title" id="gridSystemModalLabel">Nueva Tarea</h4>
				        </div>
				        <div class="modal-body">
				        	<form action="{% url 'principal.views.nueva_tarea_modal' proyecto.id historia.id%}" method="post">{% csrf_token %}
					          <div class="container-fluid">
					            <div class="row">
					              <div class="form-group">
		                    		<label>Resumen</label>
			                        <input type="text" name="resumen" id="resumen" class="form-control" placeholder="Resumen"/>
			                      </div>
					            </div>
					            <div class="row">
					              <div class="form-group">
			                    	<label>Descripción</label>
			                    	<textarea class="form-control" name="descripcion" id="descripcion" rows="3" placeholder="Descripción"></textarea>
			                      </div>
					            </div>	
					            <div class="row">
						            <div class="form-group">
	                            		<label>Esfuerzo estimado (Horas)</label>
				                        <input type="text" name="esfuerzo" id="esfuerzo" class="form-control" placeholder="Esfuerzo"/>
				                    </div>	
			                    </div>	        
					          </div>
					        
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				          <button type="submit" class="btn btn-primary">Añadir Tarea</button>
				        </div>
				        </form>
				      </div><!-- /.modal-content -->
				    </div><!-- /.modal-dialog -->
				  </div><!-- /.modal -->
			
				{% if tareas %}
						
					    <div class="panel panel-default">
						  <!-- Default panel contents -->
						  <div class="panel-heading">{{historia.titulo|capfirst}}
						  	<div class="navbar-right">
                    			<ul class="nav navbar-nav">
									
						  	 		<a href="" data-toggle="modal" data-target="#exampleModal{{historia.id}}"><i class="fa fa-plus"></i> Añadir tarea</a>
						  	 	</ul>
						  	</div>
						  </div>
						  <div class="box-body table-responsive no-padding">
                          	<table class="table table-hover">
                              <tr>
                              	<th>ID</th>
                                <th>Resumen</th>
                                <th>Descripción</th>
                                <th>Estado</th>
                                <th>Esfuerzo</th>
                                <th>Realizador</th>
                              </tr>
		                    {% for dato in tareas %}
		                    	{% if historia.id = dato.historia_id %}
		                              <tr>
		                                <td>{{dato.id}}</td>
		                                <td>{{dato.resumen|capfirst}}</td>
		                                <td>{{dato.descripcion|capfirst}}</td>
		                                {% if dato.estado = 0 %}
		                                	<td><span class="label label-warning">Pendiente</span></td>
		                                {% elif dato.estado = 1 %}
		                                	<td><span class="label label-primary">Trabajando</span></td>  
		                                {% else %}
		                                	<td><span class="label label-success">Hecho</span></td> 
		                                {% endif %}  
		                                <td>{{dato.esfuerzo|capfirst}} Horas</td>
		                                {% if dato.realizador%}
                                			<td><small class="label label-default">{{dato.realizador.miembro.usuario.first_name}} {{dato.realizador.miembro.usuario.last_name}}</small></td>
                                		{% else %}
											<td><a href='{% url 'principal.views.asignar_tarea' sprint.id dato.id %}'><small class="label label-danger">Sin asignar</small></a></td>
										{% endif %} 
										<td>      
											<a href="" data-toggle="modal" data-target="#exampleModalEdit{{dato.id}}"><i class="fa fa-edit"></i></a>
											<!-- Small modal -->
											<a href="" data-toggle="modal" data-target=".bs-example-modal-sm{{dato.id}}"><i class="fa fa-trash-o"></i></a>
		                             
		                                </td>                        
		                              </tr>						  
		                        {% endif %}
							{% endfor %}
                            </table>
                          </div><!-- /.box-body -->
						</div>						
					
				{% else %}
						<div class="alert alert-warning" role="alert">Aún no hay ninguna tarea para esta historia.</div>							  

				{% endif %}
			{% endfor %}

{% endblock %}                        
