{% extends 'base.html' %}

{% block titulo %}ScrumCO{% endblock %}

{% block style_css %}{% endblock %}

{% block script %}{% endblock %}

{% block notimensajes %}
						<!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li><!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="{{STATIC_URL}}img/avatar3.png" class="img-circle" alt="User Image"/>
                                                </div>
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li><!-- end message -->
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="{{STATIC_URL}}img/avatar2.png" class="img-circle" alt="user image"/>
                                                </div>
                                                <h4>
                                                    AdminLTE Design Team
                                                    <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="{{STATIC_URL}}img/avatar.png" class="img-circle" alt="user image"/>
                                                </div>
                                                <h4>
                                                    Developers
                                                    <small><i class="fa fa-clock-o"></i> Today</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="{{STATIC_URL}}img/avatar2.png" class="img-circle" alt="user image"/>
                                                </div>
                                                <h4>
                                                    Sales Department
                                                    <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="{{STATIC_URL}}img/avatar.png" class="img-circle" alt="user image"/>
                                                </div>
                                                <h4>
                                                    Reviewers
                                                    <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>
{% endblock %}
                        
{% block notificaciones %}
						<!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-warning"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-people info"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning danger"></i> Very long description here that may not fit into the page and may cause design problems
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users warning"></i> 5 new members joined
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-cart success"></i> 25 sales made
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-person danger"></i> You changed your username
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
{% endblock %}
                        
{% block notitareas %}
						<!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-tasks"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Create a nice theme
                                                    <small class="pull-right">40%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">40% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Some task I need to do
                                                    <small class="pull-right">60%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">60% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Make beautiful transitions
                                                    <small class="pull-right">80%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">80% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
{% endblock %}
                       
{% block infousuario %}
						<!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>{{personal.usuario.username|capfirst}} <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <img src="{{STATIC_URL}}img/avatar3.png" class="img-circle" alt="User Image" />
                                    <p>
                                        {{personal.usuario.username|capfirst}} - Web Developer
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Sales</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                    </div>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Perfil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/cerrar" class="btn btn-default btn-flat">Salir</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
{% endblock %}
            
{% block imagenlateral %}<img src="{{STATIC_URL}}img/avatar3.png" class="img-circle" alt="User Image" />{% endblock %}

{% block saludo %}<p>Hola, {{personal.usuario.username|capfirst}}</p>{% endblock %}

{% block sidebarlateral %}
						<li>
                            <a href="/">
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'principal.views.lista_historias' proyecto.id %}">
                                <i class="fa fa-th"></i> <span>Product backlog</span>
                            </a>
                        </li>
                        <li>
                            <a href='{% url 'principal.views.lista_sprints' proyecto.id %}'>
                                <i class="fa fa-th"></i> <span>Sprints</span>
                            </a>
                        </li>
                        <li>
                            <a href='{% url 'principal.views.calendario' proyecto.id %}'>
                                <i class="fa fa-th"></i> <span>Calendario</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href='{% url 'principal.views.sprints_poker' proyecto.id %}'>
                                <i class="fa fa-th"></i> <span>Planning poker</span>
                            </a>
                        </li>
                 
{% endblock %}

{% block headersuperior %}
				<section class="content-header">
                    <h1>
                        Planning Poker
                    </h1>
                    <ol class="breadcrumb">
                    	{% if personal.usuario.is_superuser or personaEquipo.scrummaster == 1%}
                        	
                        {% endif %} 
                    </ol>
                </section>
{% endblock %}

{% block contenido %}
				{% if sprints %}	
		            	<div class="row">
							<div class="col-md-5">
								<form class="form-inline" action="" method="post">{% csrf_token %}
									<div class="form-group">
									    <label for="disabledTextInput">Selecciona un Sprint:</label>
									    <select class="form-control" name="sprint" id="sprint">
									    	{% for dato in sprints %}
									    		<option {% if valueSprint == dato %} selected="selected" {% endif %} value="{{dato.id}}">{{dato.nombre|capfirst}}</option>		
									    	{% endfor %}		  
										</select>								
									</div>
									<button type="submit" class="btn btn-primary">Seleccionar</button>
								</form>
							</div>
						</div>
						<br />
				{% else %}
						<div class="alert alert-warning" role="alert">Aún no hay ningún Sprint.</div>							  
				{% endif %}

				{% if historias %}
					<div class="box box-solid">
                        <div class="box-header">
                            <h3 class="box-title">Historias</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="box-group" id="accordion">
                                <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                                {% for dato in historias %}
                                <div class="panel box box-primary">
                                    <div class="box-header">
                                        <h4 class="box-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{dato.id}}">
                                                {{dato.titulo}}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse{{dato.id}}" class="panel-collapse collapse">
                                        <div class="box-body">
                                        	
                                        	{% if tareas %}
						
											    <div class="panel panel-default">
												  <!-- Default panel contents -->
												  <div class="box-body table-responsive no-padding">
						                          	<table class="table table-hover">
						                              <tr>
						                              	<th>ID</th>
						                                <th>Resumen</th>
						                                <th>Descripción</th>
						                                <th>Estado</th>
						                              </tr>
								                    {% for dato2 in tareas %}
								                    	{% if dato.id = dato2.historia_id %}
								                              <tr>
								                                <td>{{dato2.id}}</td>
								                                <td>{{dato2.resumen|capfirst}}</td>
								                                <td>{{dato2.descripcion|capfirst}}</td>
								                                {% if dato2.estado = 0 %}
								                                	<td><span class="label label-warning">Pendiente</span></td>
								                                {% elif dato2.estado = 1 %}
								                                	<td><span class="label label-primary">Trabajando</span></td>  
								                                {% else %}
								                                	<td><span class="label label-success">Hecho</span></td> 
								                                {% endif %}                              
								                              </tr>						  
								                        {% endif %}
													{% endfor %}
						                            </table>
						                          </div><!-- /.box-body -->
												</div>						
											
										{% else %}
												<div class="alert alert-warning" role="alert">Aún no hay ninguna tarea para esta historia.</div>							  
						
										{% endif %}
                                        	
                                        	
                                            <div class="row" style="margin-left: 1%; margin-bottom: 1%;">
											  <div class="col-md-7">
											  		<a href="{% url 'principal.views.votar_poker' proyecto.id valueSprint.id dato.id 0%}"><img src="{{STATIC_URL}}img/0.png" alt="..." ></a>
							                        <a href="{% url 'principal.views.votar_poker' proyecto.id valueSprint.id dato.id 05%}"><img src="{{STATIC_URL}}img/05.png" alt="..." ></a>
							                        <a href="{% url 'principal.views.votar_poker' proyecto.id valueSprint.id dato.id 1%}"><img src="{{STATIC_URL}}img/1.png" alt="..." ></a>
							                        <a href="{% url 'principal.views.votar_poker' proyecto.id valueSprint.id dato.id 2%}"><img src="{{STATIC_URL}}img/2.png" alt="..." ></a>
							                        <a href="{% url 'principal.views.votar_poker' proyecto.id valueSprint.id dato.id 3%}"><img src="{{STATIC_URL}}img/3.png" alt="..." ></a>
							                        <a href="{% url 'principal.views.votar_poker' proyecto.id valueSprint.id dato.id 5%}"><img src="{{STATIC_URL}}img/5.png" alt="..." ></a>
											  		<a href="{% url 'principal.views.votar_poker' proyecto.id valueSprint.id dato.id 8%}"><img src="{{STATIC_URL}}img/8.png" alt="..." ></a>
											  		<a href="{% url 'principal.views.votar_poker' proyecto.id valueSprint.id dato.id 13%}"><img src="{{STATIC_URL}}img/13.png" alt="..."></a>
											  		<a href="{% url 'principal.views.votar_poker' proyecto.id valueSprint.id dato.id 20%}"><img src="{{STATIC_URL}}img/20.png" alt="..." ></a>
											  		<a href="{% url 'principal.views.votar_poker' proyecto.id valueSprint.id dato.id 40%}"><img src="{{STATIC_URL}}img/40.png" alt="..." ></a>
											  		<a href="{% url 'principal.views.votar_poker' proyecto.id valueSprint.id dato.id 100%}"><img src="{{STATIC_URL}}img/100.png" alt="..." ></a>
											  		<a href="{% url 'principal.views.votar_poker' proyecto.id valueSprint.id dato.id 101%}"><img src="{{STATIC_URL}}img/interrogacion.png" alt="..." ></a>
											  		<a href="{% url 'principal.views.votar_poker' proyecto.id valueSprint.id dato.id 102%}"><img src="{{STATIC_URL}}img/infinito.png" alt="..." ></a>
											  </div>
											  
											  <div class="col-md-3 col-md-offset-2" style="margin-top: 4%;">
											  		<a href="#"><img style="margin-left: 35%; margin-bottom: 1%;" src="{{STATIC_URL}}img/20.png" alt="..." ></a>
											  		<div id="msg" class="alert alert-success alert-dismissable">
													    <i class="fa fa-check"></i>
													    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
													    <b>Hecho!</b> Estimación realizada correctamente.
													</div>
											  </div>
											</div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
				{% endif %}
				
				


{% endblock %}                        
